<% include ../partials/header %>

<% include ../partials/menu %>

	<main>
		<div class="jumbotron">
			<h1>Contact page</h1>
			<p>Just another contact page</p>
		</div>
	</main>

<% include ../partials/footer %>
